@charset "utf-8";

html {
  font-size: 16px;
  line-height: 1;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000000;
  cursor: none;
}
body *::selection {
  background-color: rgba(0, 0, 0, 0);
}
body *::-moz-selection {
  background-color: rgba(0, 0, 0, 0);
}
section, div, img, video {
  width: 100%;
  height: 100%;
}

#bg-section, #bottom-div, #top-div, #shield-div {
  position: fixed;
}
#bottom-div {
  opacity: 1;
}
#top-div {
  opacity: 0;
}
.black-div {
  background-color: #000000;
}
#shield-div {
  background-color: rgba(0, 0, 0, 0);
}
